@page
@model Proiect.Pages.Appointments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].AppointmentTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].Member.MemberName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].Trainer.TrainerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Appointment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.MemberName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trainer.TrainerName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
